*   {
box-sizing: border-box;
}
.decoration-one {
background-color:rgb(249, 154, 154);
margin: 0;
border:0;
border-radius: 12px;
padding: 9px;
font-weight: bold;
}
.decoration-one:hover {
background-color:yellow;

}
a {
text-decoration: none;
color:black;
}